
{% extends 'base.html' %}

{% block content %}


<h1 style="color:rgb(10, 241, 98); text-align: center;">QUESTION SET:{{question_obj.id_questionset.set_name}}</h1>
<div>
    <div>
  {{question_obj.id_questionset.set_slug}}
      </div>
  <div>
  {% if question_obj.id_questionset.set_slug.enable_negative_marking %} Negative Marking:{{question_obj.id_questionset.set_slug.enable_negative_marking}} 
    <p>Negative Marking percentage: {{question_obj.id_questionset.negative_marking_percentage}}</p>
  {% else %}
  Negative Marking: No
  {% endif %}
  </div>
  <div>
  <p>Duration: This test has to be completed
    in {{question_obj.id_questionset.idealtimetocomplete}} Minutes Or Form will be automatically submitted.</p>
  </div>
</div>
<div class="contain">
  <ul>
    <button onclick="window.location.href='MCQ'" id="btn">Start Test<button>
    <a>{{user.first_name}}</a><br>
    <a href="Logout">Logout</a>
  </ul>
</div>


 
{% endblock %}